.edit-user-ifno-input-group {
    margin-top: 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 94%;
    background-color: #f4f4f4;
    padding: 0 20px;
    border-radius: 10px;
}

.edit-user-info-input {
    outline: none;
    border: none;
    background-color: unset;
    font-size: 1.1rem;
    width: 100%;
    padding: 8px 10px;
}